<div class="container">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h1>SHOULD<span style="font-family: batang; font-size: 150%; vertical-align: -7px;">I</span>RAISE?</h1>
    <h3>In 8 minutes, you will know if your startup is ready to raise funding. It's 100% free. Ready?</h3><br>
    <h4><a class="btn btn-success" id="get-started-btn">Get Started with <span style="font-weight: bold;">Linked</span><i class="fa fa-linkedin-square"></i></a></h4>
    <br>
    <hr>
    <img src="mockup2.png" alt="Business UI" id="business-ui" />
    <hr>
  </div>
  <div class="col-md-10 col-md-offset-1 text-center">
    <p id="disclosure">The information on this website does not constitute an offer to sell securities or a solicitation of an offer to buy securities. Further, none of the information contained on this website is a recommendation to invest in any securities. By using this website, you accept our Terms of Service and Privacy Policy. Past performance is no guarantee of future results. Any historical returns, expected returns or probability projections may not reflect actual future performance. All investments involve risk and may result in loss. Full Disclosure.</p>
  </div>
</div>