<h1>Should I Raise</h1>
<%= image_tag 'shouldiraise_logo.JPG' %>
<p>In 8 minutes, you will know if you are ready to raise funding. Should I Raise is 100% free. Ready?</p>
<a class="button">Get Started</a> 
<br>

<%= link_to "Blog", articles_path %> | <%= link_to 'About', about_path %>

<p>The information on this website does not constitute an offer to sell securities or a solicitation of an offer to buy securities. Further, none of the information contained on this website is a recommendation to invest in any securities. By using this website, you accept our Terms of Service and Privacy Policy. Past performance is no guarantee of future results. Any historical returns, expected returns or probability projections may not reflect actual future performance. All investments involve risk and may result in loss. Full Disclosure.</p>